<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>我的收集</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/base.css" rel="stylesheet">
	<link href="../css/index.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/modernizr.js"></script>
	<![endif]-->
	<script src="../js/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="../js/comm.js"></script>
	<script src="../js/scrollReveal.js"></script>
</head>
<body>
	<header class="header-navigation" id="header">
	  <nav><div class="logo"><a href="#">Hhy blog</a></div>
	    <h2 id="mnavh"><span class="navicon"></span></h2>
	    <ul id="starlist">
	      <li><a href="../index.html">网站首页</a></li>
	      <li><a href="share.html">我的收集</a></li>
	      <li><a href="list.html">我的记录</a></li>
	      <li><a href="about.html">关于我</a></li>
	      <li><a href="gbook.html">留言</a></li>
	       <li><a href="info.html">自言自语</a></li>
	      <li><a href="infopic.html">爱好</a></li>
	    </ul>
	</nav>
	</header>
	<article>
	  <div class="picbox">
	    <ul>
	      <li data-scroll-reveal="enter bottom over 1s" ><a href="http://es6.ruanyifeng.com/"><i><img src="../images/1.jpg"></i>
	        <div class="picinfo">
	          <h3>ECMAScript 6 </h3>
	          <span>本书覆盖 ES6 与上一个版本 ES5 的所有不同之处，对涉及的语法知识给予详细介绍，并给出大量简洁易懂的示例代码。
					本书为中级难度，适合已经掌握 ES5 的读者，用来了解这门语言的最新发展；也可当作参考手册，查寻新增的语法点。如果你是 JavaScript 语言的初学者，建议先学完《JavaScript 语言入门教程》，再来看本书。
			  </span> 
			</div>
	        </a></li>
	       <li data-scroll-reveal="enter bottom over 1s" ><a href="https://www.w3school.com.cn/js/index.asp"><i><img src="../images/3.jpg"></i>
	        <div class="picinfo">
	          <h3>JavaScript</h3>
	          <span>JavaScript 是属于 HTML 和 Web 的编程语言。
					编程令计算机完成您需要它们做的工作。
					JavaScript 很容易学习。
					本教程涵盖 JavaScript 基础和高级教程。
			  </span> </div>
	        </a></li>
	    </ul>
	    <ul>
	        <li data-scroll-reveal="enter bottom over 1s" ><a href="https://cn.vuejs.org/"><i><img src="../images/2.jpg"></i>
	        <div class="picinfo">
	          <h3>Vue</h3>
	          <span>渐进式JavaScript 框架<p>灵活.易用.高效</p></span> </div>
	        </a></li>
	          <li data-scroll-reveal="enter bottom over 1s" ><a href="https://www.w3school.com.cn/css/css_reference.asp"><i><img src="../images/4.jpg"></i>
	        <div class="picinfo">
	          <h3>CSS</h3>
	          <span>层叠样式表(英文全称：Cascading Style Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。</span> </div>
	        </a></li>
	    </ul>
	    <ul>
	          <li data-scroll-reveal="enter bottom over 1s" ><a href="https://www.w3school.com.cn/html5/html5_reference.asp"><i><img src="../images/6.jpg"></i>
	        <div class="picinfo">
	          <h3>HTML5</h3>
	          <span>HTML5是Web中核心语言HTML的规范，用户使用任何手段进行网页浏览时看到的内容原本都是HTML格式的，在浏览器中通过一些技术处理将其转换成为了可识别的信息。HTML5在从前HTML4.01的基础上进行了一定的改进，虽然技术人员在开发过程中可能不会将这些新技术投入应用，但是对于该种技术的新特性，网站开发技术人员是必须要有所了解的。</span> </div>
	        </a></li>
	          <li data-scroll-reveal="enter bottom over 1s" ><a href="https://webpack.js.org/"><i><img src="../images/7.jpg"></i>
	        <div class="picinfo">
	          <h3>webpack</h3>
	          <span>本质上，webpack 是一个现代 JavaScript 应用程序的静态模块打包器(module bundler)。当 webpack 处理应用程序时，它会递归地构建一个依赖关系图(dependency graph)，其中包含应用程序需要的每个模块，然后将所有这些模块打包成一个或多个 bundle。</span> </div>
	        </a></li> 
	    </ul>
	    <ul>
	       <li data-scroll-reveal="enter bottom over 1s" ><a href="https://www.php.net"><i><img src="../images/8.jpg"></i>
	        <div class="picinfo">
	          <h3>PHP</h3>
	          <span>PHP是一种流行的通用脚本语言，特别适合于Web开发。快速，灵活，务实，PHP权力的一切从您的博客到世界上最流行的网站。</span> </div>
	        </a></li>
	          <li data-scroll-reveal="enter bottom over 1s" ><a href="https://www.mysql.com/"><i><img src="../images/9.jpg"></i>
	        <div class="picinfo">
	          <h3>Mysql</h3>
	          <span>世界上最流行的开源数据库。</span> </div>
	        </a></li>
	    </ul>
	  </div>
	  <div class="pagelist"><a href="#" class="curPage">1</a>&nbsp;&nbsp;<a href="#" onclick="page(2)">2</a>&nbsp;&nbsp;<a href="#" onclick="page(3)">3</a>&nbsp;&nbsp;<a href="#" onclick="page(4)">4</a>&nbsp;&nbsp;<a href="#" onclick="page(5)">5</a>&nbsp;&nbsp;<a href="#" onclick="page(6)">6</a>&nbsp;&nbsp;<a href="#" onclick="page(7)">7</a>&nbsp;&nbsp;<a href="#" onclick="page(8)">8</a>&nbsp;&nbsp;<a href="#" onclick="page(9)">9</a>&nbsp;&nbsp;<a href="#" onclick="page(2)">下一页</a></div>
	</article>
	<footer>
	  <p>Design by <a href="#">个人博客</a> <a href="#">没有备号滑稽/a></p>
	</footer>
	<a href="#" class="cd-top">Top</a>
	<script>
		if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
			(function(){
				window.scrollReveal = new scrollReveal({reset: true});
			})();
		};
	</script>
</body>
</html>